@import "layout/var";

.links {
    display: flex;

    &__side {
        padding-top: 7px;
        width: 50%;
        
        &:first-child {
            padding-right: 3.5px;
        }

        &:last-child {
            padding-left: 3.5px;
        }
    }

    &__link {
        min-height: 435px;
        background: #faf9fe;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 991px){
            min-height: 290px;
        }

        @media (max-width: 767px){
            min-height: 180px;
            padding: 20px;
        }
    }
}