@import "layout/var";

.news {
   position: relative;
   overflow: hidden;
   padding-top: 160px;
   padding-bottom: 68px;

   @media (max-width: 991px){
      padding-top: 130px;
   }

   @media (max-width: 767px){
      padding-top: 50px;
   }

   &__show-more-wr {
      display: flex;
      justify-content: center;
   }

   &__show-more {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 17px;
      color: #c09915;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: color 0.3s;

      &:hover {
         color: #4b9c30;
      }
   }
}