@import "layout/var";

.header {
    position: relative;

    &__contacts {
        background: #f8f7fc;
    }

    &__nav {

        @media (max-width: 991px){
            position: relative;
            z-index: 15;
        }
    }
}