@import "layout/var";

.head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;

    @media (max-width: 991px){
        padding: 72px 0;
    }

    @media (max-width: 767px){
        flex-wrap: wrap;
        padding: 25px 0;
    }

    &__side {
        &--left {
            width: 100%;
            display: flex;

            @media (max-width: 767px){
                order: 1;
                width: 50%;
            }
        }

        &--mid {
            flex-shrink: 0;
            @media (max-width: 767px){
                width: 100%;
                margin-bottom: 25px;
            }
        }

        &--right {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            @media (max-width: 767px){
                order: 2;
                width: 50%;
            }
        }
    }

    &__logo {
        @media (max-width: 991px){
            max-width: 222px;
        }

        @media (max-width: 767px){
            margin: 0 auto;
        }
    }

    &__call-me {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 17px;
        color: #fff;
        font-weight: $b;
        padding-right: 40px;
        text-transform: uppercase;
        letter-spacing: 1px;

        @media (max-width: 991px){
            font-size: 15px;
            max-width: 216px;
        }
    }

    &__cube {
        margin-left: 15px;
        
    }
}