@import "layout/var";

.header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px){
        flex-wrap: wrap;
    }

    &__side {
        display: flex;
        align-items: center;

        @media (max-width: 767px){
            flex-wrap: wrap;
        }
    }

    &__item {
        display: block;
        margin-right: 25px;
        font-size: 14px;
        color: #4a4a4a;

        @media (max-width: 991px){
            margin-right: 20px;
        }
    }

    &__tel {
        display: block;
        background: #4b9c30;
        color: #fff;
        font-size: 14px;
        padding: 9px 28px;
    }
}