@import "layout/var";

.header {
    position: relative;

    &__contacts {
    }

    &__nav {
        background: #000;

        @media (max-width: 991px){
            position: relative;
            z-index: 15;
        }
    }
}