@import "layout/var";

.head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0 15px 0;

    @media (max-width: 991px){
        padding: 20px 0 30px;
    }

    @media (max-width: 767px){
        padding: 25px 0;
    }

    &__side {
        &--left {
            width: 100%;
            display: flex;
        }

        &--mid {
            flex-shrink: 0;

            @media (max-width: 767px){
                max-width: 137px;
            }
        }

        &--right {
            width: 100%;
            display: flex;
            justify-content: flex-end;

        }
    }

    &__logo {
        @media (max-width: 991px){
            max-width: 222px;
        }

        @media (max-width: 767px){
            max-width: 137px;
        }
    }

    &__call-me {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 17px;
        color: #c09915;
        font-weight: $b;
        padding-right: 40px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color 0.3s;

        &:hover {
            color: #4b9c30;
        }

        @media (max-width: 991px){
            font-size: 15px;
            max-width: 216px;
        }
    }

    &__cube {
        margin-left: 15px;
    }

    &__menu-open {
        @media (max-width: 991px){
            position: relative;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 68px;
            height: 68px;
            border: none;
            padding: 0;
            background: #6b9701;
            border-radius: 10px;
            transform-origin: center;
            outline: none;
            transform: rotate(45deg);
        }

        @media (max-width: 767px){
            width: 50px;
            height: 50px;
        }
        span {
            @media (max-width: 991px){
                display: block;
                transform-origin: center;
                transform: rotate(-45deg);
                color: #fff;
                font-size: 15px;
                text-transform: uppercase;
            }

            @media (max-width: 767px){
                font-size: 13px;
            }
        }
    }
}