@import "layout/var";

.menu {
    padding-bottom: 27px;

    @media (max-width: 991px){
        display: none;
        background: rgba(243,199,199,0.97);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__sm-wr {
        @media (max-width: 991px){
            padding-top: 90px;
        }

        @media (max-width: 767px){
            padding-top: 30px;
        }
    }

    &__sm-soc {
        @media (max-width: 991px){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__close-menu {
        @media (max-width: 991px){
            display: block;
            border: none;
            background: transparent;
            outline: none;
            width: 24px;
            height: 24px;
            position: relative;
            left: -29px;
        }

        &:before {
            @media (max-width: 991px){
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%) rotate(45deg);
                transform-origin: center;
                height: 100%;
                width: 4px;
                background: #000;
            }
        }

        &:after {
            @media (max-width: 991px){
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                transform-origin: center;
                height: 4px;
                width: 100%;
                background: #000;
            }
        }
    }
}